---
import Layout from "../layouts/layout.astro";
import bannerImg from "@images/banner.jpg";
import wreathGraphicImg from "@images/wreath-graphic.png";
import wreathGraphicSmallImg from "@images/wreath-graphic-small.jpg";
import jandtImg from "@images/j-and-t.png";
import banner2bImg from "@images/banner-2b.png";
import formalImg from "@images/formal.jpg";
import beachImg from "@images/piggy-back-on-beach.jpg";
import cliffImg from "@images/hold-hands-on-cliff.jpg";
import traditionalImg from "@images/traditional-2.jpg";
import closingBannerImg from "@images/closing-banner.png";
import googleMapsPinImg from "@images/google-maps-pin.svg";
import { Image } from "astro:assets";
import Section from "@components/section.astro";
import BackgroundImage from "@components/background-image.astro";
---

<Layout
  title="Trân & John"
  metaTitle="Tran và John chân thành mời bạn đến dự tiệc cưới của chúng tôi"
  metaImg={wreathGraphicSmallImg.src}
  metaDescription="Trân trọng mời bạn đến dự đám cưới của Trần và John"
>
  <main class="px-3">
    <Section>
      <BackgroundImage
        ariaLabel="Save the date"
        extraStyles="height: 217px;background-position-y: 90%;background-position-x: 53%;"
        imgSrc={bannerImg.src}
      />
      <div class="border-solid border-4 border-color-pink p-1">
        <div class="border-solid border-2 border-color-pink py-6 px-3">
          <h1
            class="text-center text-6xl md:text-7xl colour-pink mb-3 font-medium italic"
            style="font-family:Brush Script MT;"
          >
            Trân & John
          </h1>
          <div
            class="text-2xl md:text-3xl colour-pink leading-10 md-leading-12 text-center italic font-serif"
          >
            <p class="colour-brown">
              Trân trọng gửi lời mời <span data-class="name">…………………</span>, đến
              dự buổi tiệc cưới thân mật chung vui cùng chúng <span
                data-class="pronoun">……</span
              >.
            </p>
            <p>
              <span class="colour-brown">Vào lúc</span>
              <span class="font-semibold"
                >11 giờ ngày Chủ nhật, 25 tháng 2 năm 2024</span
              >
            </p>
            <p>
              <span class="colour-brown">Tại</span>
              <span class="font-semibold"
                >Trung tâm Hội nghị - Tiệc cưới Queen Plaza Kỳ Hòa, Sảnh Queen 6</span
              >
            </p>
            <p class="flex justify-center">
              <Image
                src={googleMapsPinImg}
                alt="Google Maps link to venue"
                class="google-maps-pin mr-1"
              />
              <a
                class="underline hover:text-pink-400"
                target="_blank"
                href="https://www.google.com/maps/place/Queen+Plaza+Ky+Hoa/@10.77436,106.6682274,17z/data=!4m14!1m7!3m6!1s0x31752ed95e43c5bb:0xf49973030574f2c2!2sQueen+Plaza+Ky+Hoa!8m2!3d10.77436!4d106.6708023!16s%2Fg%2F11bz149j9y!3m5!1s0x31752ed95e43c5bb:0xf49973030574f2c2!8m2!3d10.77436!4d106.6708023!16s%2Fg%2F11bz149j9y?entry=ttu"
              >
                16A Lê Hồng Phong (nối dài), Phường 12, Quận 10, TP.HCM</a
              >
            </p>
            <p class="colour-brown">
              Sự hiện diện của <span data-class="name">…………………</span> là niềm
              vinh hạnh của chúng <span data-class="pronoun">……</span>
              <br /><span class="colour-brown">và gia đình!</span>
            </p>
          </div>
        </div>
      </div>
    </Section>
    <Section>
      <div class="flex justify-center my-6">
        <Image
          src={wreathGraphicImg}
          alt=""
          class="w-full"
          style="max-width:716px"
        />
      </div>
    </Section>
    <Section>
      <div class="flex justify-center">
        <Image
          src={jandtImg}
          alt="J Loves T"
          style="max-width:300px"
          class="w-full"
        />
      </div>
    </Section>
    <Section>
      <div class="flex justify-center my-6 md:my-12">
        <Image
          src={banner2bImg}
          alt=""
          class="w-full"
          style="max-width:380px"
        />
      </div>
      <div
        class="text-center text-2xl md:text-3xl colour-pink-2 italic font-serif"
      >
        <p class="mb-4">
          Một vài tấm ảnh cưới của Trân & John ghi lại những khoảnh khắc hạnh
          phúc nhất trong cuộc đời hai đứa.
        </p>
        <p>
          Rất mong sẽ có <span data-class="name">…………………</span> tham dự trong
          ngày vui của chúng <span data-class="pronoun">……</span>.
        </p>
      </div>
    </Section>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
      <div>
        <Image src={formalImg} alt="" class="rounded-lg w-full" />
      </div>
      <div>
        <Image src={beachImg} alt="" class="mb-4 rounded-lg w-full" />
        <Image src={traditionalImg} alt="" class="rounded-lg w-full" />
      </div>
      <div>
        <Image src={cliffImg} alt="" class="rounded-lg w-full" />
      </div>
    </div>
    <Section>
      <BackgroundImage
        ariaLabel="Thank you"
        extraStyles="height: 350px;background-position-y: 70%;background-position-x: center;"
        imgSrc={closingBannerImg.src}
      />
    </Section>
  </main>
</Layout>

<style>
  .colour-pink {
    color: rgb(255, 93, 97);
  }

  .colour-pink-2 {
    color: rgb(196, 89, 17);
  }

  .colour-brown {
    color: rgb(128, 96, 0);
  }

  @media (min-width: 768px) {
    .md-leading-12 {
      line-height: 48px;
    }
  }

  .google-maps-pin {
    width: 16px;
  }

  .border-color-pink {
    border-color: rgb(255, 93, 97);
  }
</style>
<script>
  const setAllTextContent = ({ selector, value }) => {
    const elements = document.querySelectorAll(selector);
    elements.forEach((element) => {
      element.textContent = value;
    });
  };

  const urlParams = new URLSearchParams(window.location.search);
  const name = urlParams.get("name");
  const pronoun = urlParams.get("pronoun");
  console.log({ name, pronoun });

  name && setAllTextContent({ selector: `*[data-class="name"]`, value: name });
  pronoun &&
    setAllTextContent({ selector: `*[data-class="pronoun"]`, value: pronoun });
</script>
