---
interface Props {
  title: string;
  metaTitle: string;
  metaImg: string;
  metaDescription: string;
}

const { title, metaTitle, metaImg, metaDescription } = Astro.props;
import favicon from "../images/favicon.ico";
---

<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Tran và John mời bạn cùng nhau kỷ niệm ngày đặc biệt của họ."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <meta name="robots" content="noindex" />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:image" content={metaImg} />
    <meta property="og:description" content={metaDescription} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
